﻿@using FileSystemTest.Models
@using System.Web.WebPages.Html

@model FileSystemModel

@{
    ViewBag.Title = "Folder Children";
}

<h1>Folder: @Model.CurrentNodeName</h1>

@foreach (var p in @Model.Folders)
{
    <div>
        @Html.RouteLink(@p.FolderNodeName, "GeneratePath", new { nodePath = @Model.GenerateChildPath(p.FolderNodeName) })           
    </div>
}

